body, head {
	text-align:center;
}
h1
{
	color:red; font:4em;
}
h2
{
	color:blue; font:2em;
}

.tile
{
	visibility:hidden;
	width:100%; min-height:1px; height:100%;
}
table
{
	margin:auto;
	width:500px;
	height:500px;
}
